# ingore gradio directory/
# Ignore all files in the flagged directory
.gradio/

# ignore all the zip files
*.zip

.github/


logs.log

# ignore the catboost_info directory
catboost_info/

model_utils.py

_inspect_model.py

# ignore all the pycache/.pyc filees
__pycache__/
*.pyc

